[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pycryptodome = "*"
flask-pymongo = "*"
pymongo = "*"
flask-sqlalchemy = "*"
dataclasses-json = "*"
base58 = "*"

[dev-packages]
black = "*"
pylint = "*"
pre-commit = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.9"
