<html>
    <body>
        <p><h1>Display</h1></p>
        <div>
            <p><h1>Navigation</h1></p>
               <strong><nav>
                  <ul class = "menu">
                     <li><a href = "{{url_for('home') }}">Home</a></li>
                     <li><a href = "{{url_for('display') }}">Display</a></li>
                  </ul>
               </nav></strong>
         </div>
         <div>
            <p><h2>Blockchain</h2></p>
            <p> {{ block_chain.print_all_chain }}</p>

         </div>
    </body>
</html>