
<html>
   <body>
      
      <form action = "http://localhost:8000/home" method = "post">
         <div>
            <p><h1>Navigation</h1></p>
               <strong><nav>
                  <ul class = "menu">
                     <li><a href = "{{url_for('home') }}">Home</a></li>
                     <li><a href = "{{url_for('display') }}">Display</a></li>
                  </ul>
               </nav></strong>

         </div>
         <p><h2>Blockchain is currently running</h2></p>
         <p><h1>TESTdING</h1><p>
         <p>Username:</p>
         <p><input type = "text" name = "name" /></p>
         <p><input type = "submit" name = "submit_button" value = "add_current_block" /></p>
         
         <p><input type = "text" name = "sender" value = "sender" /></p>
         <p><input type = "text" name = "reciever" value = "reciever" /></p>
         <p><input type = "number" name = "amount" value = "amount" min ="1" max="10" /></p>
         <p><input type = "text" name = "coin" value = "coin" /></p>
         <p><input type = "submit" name = "submit_button" value = "add_transaction" /></p>
      </form>
      <table border =1 >
        

         <tr>
            <th> {{ "this is the current block"}} </th>
            <td> {{ current_block.hash}} </td>
         </tr>
         <tr>
            <th> {{ "this is the previous block hash"}} </th>
            <td> {{ block_chain.printhash()}} </td>
         </tr>
         
    
      </table>
   </body>
   
</html>