
<html>
    <body>
       
       <form action = "http://localhost:8000/user" method = "post">
          <p><h2>Blockchain is currently running</h2></p>
          <p><h1>TESTdING</h1><p>
          <p>Username:</p>
          <p><input type = "text" name = "name" /></p>
          <p><input type = "submit" name = "submit_button" value = "add_transaction" /></p>
          
          <p><input type = "text" name = "sender" value = "sender" /></p>
          <p><input type = "text" name = "recipient" value = "reciever" /></p>
          <p><input type = "text" name = "amount" value = "amount" /></p>
          <p><input type = "text" name = "coin" value = "coin" /></p>
          <p><input type = "submit" name = "submit_button" value = "add_transaction" /></p>
       </form>
       
    </body>
    
 </html>